*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--q-subtle-1);
	background: #f4f4f4;
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 24px !important;
	font-family: 'Noto Sans', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, 'PingFang SC',
		'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif !important;
	font-size: 16px !important;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-track {
	background: var(--q-bg-input);
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--q-line);
	border-radius: 14px;
}
